In [1]:
import pandas as pd
import numpy as np
from clean import complete_clean
from model import lin_model, split, model_results
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import joblib

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("bmw.csv", index_col=0)

In [3]:
df = complete_clean(df)

In [4]:
df

,price,miles,car_ 1,car_ 2,car_ 2 Active Tourer,car_ 2 Gran Tourer,car_ 3,car_ 4,car_ 4 Gran Coupe,car_ 5,...,fuel_Hybrid,fuel_Petrol,fuel_Petrol/electric,fuel_Petrol/plugin,fuel_Plug_in_hybrid,drive_type_Automatic,drive_type_Manual,drive_type_Semi,drive_type_electric,drive_type_hybri
0,4000,0.000010,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,2795,0.000008,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,1500,0.000007,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,29000,0.000020,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,24500,0.000029,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2975,23490,0.000029,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2976,22490,0.000042,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2977,20990,0.000056,0,0,0,0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,0
2978,20990,0.000038,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2979,20990,0.000017,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0

In [5]:
X_train, X_test, y_train, y_test = split(df)

In [6]:
model, y_pred = lin_model(X_train, X_test, y_train)

In [7]:
r_score, mse, mae = model_results(y_test, y_pred)

In [8]:
print("R2 Score: {}".format(r_score))
print("MSE     : {}".format(mse))
print("MAE.    : {}".format(mae))

R2 Score: 0.8498218551933211
MSE     : 24687904.804537524
MAE.    : 3522.211169284468

In [9]:
joblib.dump(model, 'bmw_linear_model_new.sav')

['bmw_linear_model_new.sav']